<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <!-- sidebar -->
    <nav class="col-md-3 hidden-sm-down bg-faded nav flex-md-column sidebar">
      <li class="nav-item">
        <a class="nav-link active" href="">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="">Registrations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Lab Inspections</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Pick Up Requests</a>
      </li>
    </nav>
    <!-- main view -->
    <div class="col-md-9 offset-md-3 mt-2">
      <!-- <router-outlet name=""></router-outlet> -->
      <div class="card">
        <div class="card-header">
          Registrations
        </div>
        <div class="card-block">
          <ul class="list-group">
            <li class="list-group-item list-group-item-action justify-content-between" *ngFor="let user of registrations; index as i" (click)="showDialog(i)">
              {{user.first + " " + user.last}}
              <span class="text-muted small">Confirm
              </span>
            </li>
          </ul>
        </div>
      </div>
      <p-sidebar [(visible)]="display" position="bottom" [baseZIndex]="10000" styleClass="ui-sidebar-md">
        <h1 style="font-weight:normal">Confirm User!</h1>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="email">Email</label>
            <input type="email" class="form-control form-control-sm" #email readonly>
          </div>
          <div class="form-group col-md-4">
            <label for="phone">Phone Number</label>
            <input type="tel" class="form-control form-control-sm" #phone readonly>
          </div>
          <div class="form-group col-md-4">
            <label for="phone">Role</label>
            <input type="text" class="form-control form-control-sm" #role readonly>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="department">Department</label>
            <input type="text" class="form-control form-control-sm" #department readonly>
          </div>
          <div class="form-group col-md-4">
            <label for="building">Building</label>
            <input type="text" #building class="form-control form-control-sm" readonly>
          </div>
          <div class="form-group col-md-2">
            <label for="room">Room</label>
            <input type="text" class="form-control form-control-sm" #room readonly>
          </div>
        </div>
        <h4>Accept user into the system?</h4>
        <div class="row">
          <div class="col-4 offset-4">
            <button type="button" (click)="closeConfirmDialog()" class="btn btn-primary">Confirm</button>
          </div>
          <div class="col-4">
            <button type="button" (click)="closeRejectDialog()" class="btn btn-secondary">Reject</button>
          </div>
        </div>
      </p-sidebar>
    </div>
  </div>
  <p-growl [(value)]="msgs"></p-growl>
  <div class="row mt-5" *ngIf="loading">
    <div class="col-6 offset-6 mt-3">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </div>
</div>
