<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <!-- sidebar -->
    <nav class="col-md-3 hidden-sm-down bg-faded nav flex-md-column sidebar">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['dashboard']">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['registrations']">Registrations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >Lab Inspections</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['pickup-requests']">Pick Up Requests</a>
      </li>
    </nav>
    <!-- main view -->
    <div class="col-md-9 offset-md-3 mt-2">
      <!-- Router outlet that will render its child routes -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
