<div class="topbar">
  <app-navbar></app-navbar>
</div>
<div id="lab-view">
  <!-- Clickable cards that will redirect you to the corresponding component -->
  <div class="row">
    <div class="col-sm-4 offset-sm-1">
      <a href="#">
        <div class="card info-box">
          <div class="card-body">
            <img src="../assets/svg/materials.svg" alt="">
            <h4>Request Supplies</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4 offset-sm-2">
      <a href="#">
        <div class="card info-box">
          <div class="card-body">
            <img src="../assets/svg/pickup.svg" class="img-responsive">
            <p class="h4">Request Waste Pickup</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
