<!-- Clickable cards that will redirect you to the corresponding component -->
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="body">
        <img src="../assets/svg/materials.svg" alt="">
        <span class="">Order safety supplies</span>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="body">
        <img src="../assets/svg/pickup.svg" class="img-responsive">
        <span class="">Waste pickup request</span>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="body">
        <img src="../assets/svg/id.svg" class="img-responsive">
        <span class="">Waste pickup request</span>
      </div>
    </div>
  </div>
</div>
