<div class="row">
    <div class="col-12">
        <p-schedule [events]="requests" [header]="headerConfig" (onEventClick)="oneventclick($event)"></p-schedule>
    </div>
</div>

<p-dialog header="Requests Details" [(visible)]="dialogVisible" [width]="600" [height]="400">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="requests">
        <div class="ui-grid-row">
            <ul>
                <li *ngFor="let item of requests">{{item}}
                    <li>
            </ul>
        </div>
        <p>this is a paragraph</p>
        <div>put detail here</div>
    </div>
</p-dialog>