<h3 class="header">Dashboard</h3>
<div class="row clearfix mb-3">
  <div class="col-4">
    <div class="card info-box">
      <div class="card-body">
          <div class="clearfix">
              <div class="float-left col-grey">
                  <i class="fa fa-users icon"></i>
              </div>
              <div class="float-right">
                  <h4 class="card-title">4</h4>
                  <p class="card-text">Users</p>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card info-box">
      <div class="card-body">
          <div class="clearfix">
              <div class="float-left col-green">
                  <i class="fa fa-user-plus icon"></i>
              </div>
              <div class="float-right">
                  <h4 class="card-title">4</h4>
                  <p class="card-text">Registrations</p>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card info-box">
      <div class="card-body">
          <div class="clearfix">
              <div class="float-left col-red">
                  <i class="fa fa-user-times icon"></i>
              </div>
              <div class="float-right">
                  <h4 class="card-title">4</h4>
                  <p class="card-text">Users Suspended</p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="row clearfix mb-3">
  <div class="col-4">
    <div class="card info-box">
      <div class="card-body">
          <div class="clearfix">
              <div class="float-left col-deep-blue">
                  <i class="fa fa-archive icon"></i>
              </div>
              <div class="float-right">
                  <h4 class="card-title">4</h4>
                  <p class="card-text">Waste Stored</p>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card info-box">
      <div class="card-body">
          <div class="clearfix">
              <div class="float-left col-green">
                  <i class="fa fa-recycle icon"></i>
              </div>
              <div class="float-right">
                  <h4 class="card-title">4</h4>
                  <p class="card-text">Pickup Requests</p>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card info-box">
      <div class="card-body">
          <div class="clearfix">
              <div class="float-left col-purple">
                  <i class="fa fa-flask icon"></i>
              </div>
              <div class="float-right">
                  <h4 class="card-title">4</h4>
                  <p class="card-text">Supply Requests</p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>