<div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="header align-center">
          <div class="col-md-12">
            <img class="responsive-img" src="../assets/svg/keyhole.svg">
          </div>
        </div>
        <div class="body">
          <app-login *ngIf="loginFlag"></app-login>
          <app-register *ngIf="!loginFlag"></app-register>
          <div class="row clearfix">
            <div class="col-md-10 offset-md-1">
              <p>{{loginFlag ? "Not registered?": "Registered?"}}<a class="prompt" href="#" (click)="toggleForms()" >{{loginFlag ? " Create an account":" Sign in"}}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
