<!--The content below is only a placeholder and can be replaced.-->
  <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="header align-center">
            <div class="col-md-12">
              <img class="responsive-img" src="../assets/svg/keyhole.svg">
            </div>
          </div>
          <div class="body">
            <app-login></app-login>
            <app-register></app-register>
            <div class="row clearfix">
              <div class="col-md-10 offset-md-1">
                <p>Not registered? <a class="prompt" href="#" (click)="toggle(form)" >Create an account</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
