<form>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <input class="form-control" type="text" placeholder="first">
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <input class="form-control" type="text" placeholder="last">
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <input class="form-control" type="text" placeholder="phone number">
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <input class="form-control" type="email" placeholder="email">
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <input class="form-control" type="password" placeholder="password">
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <input class="form-control" type="password" placeholder="confirm password">
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <a class="waves-effect waves-light btn">CREATE</a>
    </div>
  </div>
</form>
