.remove {
  color: #dc3545;
}
.add{
  color: #28a745;
}
button:hover {
  color: #fff;
}
.ui-growl {
  position: fixed;
  top: 100px !important;
  right: 20px;
  width: 20em;
}
.ui-growl-item {
  margin-top: 75px !important;
}