<div class="card infobox">
  <div class="card-body">
    <div class="container-fluid">
      <p class="h2 text-dark">Hazards</p>
      <div class="form-group row">
        <div class="col-md-4 hovereffect font-weight-bold">
          <a (click) ="getHazardItems('Corrosive')">
            <p class="classpadding text-dark">Corrosive</p>
            <img class="img-fluid" [src]= "corrosive"/>
          </a>
        </div>
        <div class="col-md-4 hovereffect font-weight-bold">
          <a (click)="getHazardItems('Explosive')">
            <p class="classpadding text-dark">Explosive</p>
            <img class="img-fluid" [src]= "explosive">
          </a>
        </div>
        <div class="col-md-4 hovereffect font-weight-bold">
          <a (click)="getHazardItems('Flammable Liquid')">
            <p class="classpadding text-dark">Flammable Liquid</p>
            <img class="img-fluid" [src]= "flamableL">
          </a>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4 hovereffect font-weight-bold">
          <a (click)="getHazardItems('Flammable Solid')">
            <p class="classpadding text-dark">Flammable Solid</p>
            <img class="img-fluid" [src]= "flamableS">
          </a>
        </div>
        <div class="col-md-4 hovereffect font-weight-bold">
          <a (click)="getHazardItems('Gas')">
            <p class="classpadding text-dark">Gas</p>
            <img class="img-fluid" [src]= "gas">
          </a>
        </div>
        <div class="col-md-4 hovereffect font-weight-bold">
          <a (click)="getHazardItems('Oxidizer')">
            <p class="classpadding text-dark">Oxidizer</p>
            <img class="img-fluid" [src]= "oxidizer"/>
          </a>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4 hovereffect font-weight-bold">
          <a (click)="getHazardItems('Radiation')">
            <p class="classpadding text-dark">Radiation</p>
            <img class="img-fluid" [src]= "radiation">
          </a>
        </div>
        <div class="col-md-4 hovereffect font-weight-bold">
          <a (click)="getHazardItems('Toxic')">
            <p class="classpadding text-dark">Toxic</p>
            <img class="img-fluid" [src]= "toxic">
          </a>
        </div>
        <div class="col-md-4 hovereffect font-weight-bold">
          <a (click)="getHazardItems('Miscellaneous')">
            <p class="classpadding text-dark">Miscellaneous</p>
            <img class="img-fluid" [src]= "miscellaneous">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<p-sidebar [(visible)]="dialog" [fullScreen]="true" [style]="{'overflow-y': 'auto'}">
    <div *ngFor="let item of chemicals; index as i">
        <div class="container">
          <div class="form-group row">
            <p class="h5">Item {{i+1}} : Quantity: {{item.quantity}}{{item.measuredIn}}</p>
          </div>
          <div class="form-group row">
            <div class="col-6">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">Waste</th>
                  <th scope="col">Percent Fraction</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let chemical of item.chemicals; index as j">
                    <td>{{chemical.name}}</td>
                    <td>{{chemical.percentFraction}}%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <p class="h4">Total Stored: {{total}}</p>
        </div>
        <div class="col-md-4 offset-2">
          <button class="btn btn-danger" (click)="displayDelete=true; wasteRequest=i">Delete</button>
        </div>
      </div>
      <p-dialog header="Confirm!" [(visible)]="displayDelete" modal="modal" [responsive]="true" [width]="400" [minWidth]="400">
        <span class="text-muted">
            Are you sure you want to delete the items stored?
        </span>
        <p-footer>
          <div class="row">
            <div class="col-3 offset-6">
              <button type="button" class="btn btn-primary" (click)="deleteStorage()">Yes</button>
            </div>
            <div class="col-3">
              <button type="button" class="btn btn-secondary" (click)="displayDelete=false;">No</button>
            </div>
          </div>
        </p-footer>
      </p-dialog>
</p-sidebar>
<p-growl [(value)]="msgs" [sticky]="true"></p-growl>