<!-- <app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <!-- sidebar --
    <nav class="col-md-3 hidden-sm-down bg-faded nav flex-md-column sidebar">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['dashboard']">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['lab-inspections']">Lab Inspections</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['pickup-requests']">Pick Up Requests</a>
      </li>
      <li class="nav-item">
          <a class="nav-link active" [routerLink]="['users']">Users</a>
        </li>
    </nav>
    <!-- main view --
    <div class="col-md-9 offset-md-3 mt-2">
      <!-- Router outlet that will render its child routes --
    </div>
  </div>
</div>


<h5 class="display-2 text-dark text-center">Hazards</h5>

<div class="container" style="margin-top:10%;">
  <div class="row mt-5">
    <div class="col hovereffect font-weight-bold ">
      <a [routerLink]="['corrosive']" > <!--routerLinkActive="active">--
      <p class="classpadding text-dark"> Corrosive</p>
      <img class="img-fluid" [src]= "corrisive">
    </a>
    </div>
    <div class="col hovereffect font-weight-bold">
      <a [routerLink]="['explosive']" >
      <p class="classpadding text-dark">Explosive</p>
      <img class="img-fluid" [src]= "explosive">
    </a>
    </div>
    <div class="col hovereffect font-weight-bold">
      <a routerLink="explosive" routerLinkActive="active">
      <p class="classpadding text-dark"> Flamable Liquid</p>
      <img class="img-fluid" [src]= "flamableL">
    </a>
    </div>
    <div class="col hovereffect font-weight-bold ">
      <a routerLink="explosive" routerLinkActive="active">
      <p class="classpadding text-dark"> Flamable Solid</p>
      <img class="img-fluid" [src]= "flamableS">
    </a>
    </div>
    <div class="col hovereffect font-weight-bold">
      <a routerLink="explosive" routerLinkActive="active">
      <p class="classpadding text-dark"> Gas</p>
      <img class="img-fluid" [src]= "gas">
    </a>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
    </div>
    <div class="col hovereffect font-weight-bold">
      <a routerLink="explosive" routerLinkActive="active">
      <p class="classpadding text-dark"> Oxidizer</p>
      <img class="img-fluid" [src]= "oxidizer">
    </a>
    </div>
    <div class="col hovereffect font-weight-bold">
      <a routerLink="explosive" routerLinkActive="active">
      <p class="classpadding text-dark"> Radiation</p>
      <img class="img-fluid" [src]= "radiation">
    </a>
    </div>
    <div class="col hovereffect font-weight-bold">
      <a routerLink="explosive" routerLinkActive="active">
      <p class="classpadding text-dark"> Toxic</p>
      <img class="img-fluid" [src]= "toxic">
    </a>
    </div>
    <div class="col">
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col hovereffect font-weight-bold">
    <a routerLink="explosive" routerLinkActive="active">
      <p class="classpadding text-dark"> Miscellaneous </p>
      <img class="img-fluid" [src]= "miscellaneous">
    </a>
    </div>
    <div class="col">

    </div>
    <div class="col">
    </div>
  </div>
</div>
<a routerLink="/explosive" routerLinkActive="active">
<button type="button" class="btn btn-secondary btn-lg btn-block pt-4 pb-4" style="margin-top:5%;">All data</button>

<router-outlet></router-outlet>-->

<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <!-- sidebar -->
    <nav class="col-md-3 hidden-sm-down bg-faded nav flex-md-column sidebar">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['hazard']">Hazards
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['corrosive']"><img class=" icon" [src]= "corrisive">Corrosive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['explosive']"><img class=" icon" [src]= "explosive">Explosive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['flameLiquid']"><img class=" icon" [src]= "flamableL">Flamable Liquid</a>
      </li>
      <li class="nav-item">
          <a class="nav-link active" [routerLink]="['flameSolid']"><img class=" icon" [src]= "flamableS">Flamable Solid</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" [routerLink]="['gas']"><img class=" icon" [src]= "gas">Gas</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" [routerLink]="['oxidizer']"><img class=" icon" [src]= "oxidizer">Oxidizer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active " [routerLink]="['radiation']"><img class=" icon" [src]= "radiation">Radiation</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['toxic']"><img class=" icon1" [src]= "toxic">Toxic</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['miscellaneous']"><img class=" icon1" [src]= "miscellaneous">Miscellaneous</a>
                  </li>
    </nav>
    <!-- main view -->
    <div class="col-md-9 offset-md-3 ">
      <!-- Router outlet that will render its child routes -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
